@import "common/foundation/variables";
@import "theme_variables";
 
.category-boxes , .category-boxes-with-topics {
    .category-box{
        border-style:outset;
        border-width: 6px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 23%;
        
        align-content: space-between;
        justify-content: space-between;
        
        .category-box-inner{
            border-width: 0px;
            padding: .5em;
            padding-bottom: 0;
        }
    }
    .category-stats{
        position: absolute;
        top: .5ex;
        right: 1ex;
        color: #909090;
        font-size: small;
    }
    .category-logo{
        .category-notifications-button{
            float:right;
            //pointer-events: none;
            top:2ex;
            button{
                background:$secondary;
            }
        }
        .logo{
            position:absolute;
            max-width:50px;
            
            left: 0;
            right: 0;
            margin: 0 auto;
            //left:50%;
            //margin: auto;
        }
        .unread-new{
            float:left;
            margin-right: 0;
            //pointer-events: fill;
            max-width:5em;
        }
    }
    .unread-new{
        pointer-events: fill;
        position:relative;
        z-index:1;
    }
    h3{
        margin-top:2ex;
    }
    
    .direct-access-links{
        pointer-events: fill;
        position:relative;
        text-align: left;
        //background-color: $primary-very_low;
        //border-radius: 1ex;
    }
    .no-padding-bottom{
        padding-bottom: 0;
    }
    .subcategories{
        a.badge-wrapper{
            color:$primary;
            font-weight: bold;
        }
        :last-child{
            //padding-bottom: 0;
            //margin-bottom: 0;
        }
        margin-bottom: .9ex;
    }
    h4{
    }
    
    .discourse-tag.simple{
        margin-right: 5px;
    }
    .separator {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .separator::before, .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid $primary-low;
    }
    .separator::before {
        margin-right: .25em;
    }
    .separator::after {
        margin-left: .25em;
    }
}

body.category .category-box{
    .category-notifications-button{
        top:0;
    }
    .category-stats{
        right: 50%;
    }
}

section.category-heading{
    display:none;
}


.category-boxes .tag-list .tag-box{
    pointer-events: fill;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0.4em;
    a{
        color:$primary-high;
        font-weight: bold;
    }
}
.discourse-tags .discourse-tag.simple:not(:last-child)::after,{
    content: "";
    margin:0;
}




.category-boxes .subcategories .subcategory .subcategory-image-placeholder{
    margin-right: 0em;
}
.tag-icon>.d-icon{
    margin-right: 5px;
}
.category-boxes .subcategories .subcategory .logo img{
    --height:1em;
}

.tooltip {
  position: relative;
  cursor: help;
  //border-bottom: 1px dotted black;
}

.category-boxes .subcategories .subcategory .subcategory-image-placeholder .logo{
    height:1em;
    margin-right: 3px;
    img{
        vertical-align:baseline;
    }
}


a.discourse-tag {
    height: 1.3em;
    line-height: 1.3em;
    position: relative;
    padding: 0 4px 0 1em;
    bottom:0;
    margin-right: .5em!important;
    background: $primary-low;
    text-decoration: none;
    //border-color:$primary-medium;
    //border-width:1px;
    //border-style:solid;
    -moz-border-radius-bottomright: .25em;
    -webkit-border-bottom-right-radius: .25em;
    border-bottom-right-radius: .25em;
    -moz-border-radius-topright: .25em;
    -webkit-border-top-right-radius: .25em;
    border-top-right-radius: .25em;
    -moz-border-radius-bottomleft: 1em;
    -webkit-border-bottom-left-radius: 1em;
    border-bottom-left-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -webkit-border-top-left-radius: 1em;
    border-top-left-radius: 1em;
    -webkit-mask-image: radial-gradient(.2em at .5em 50% , transparent 100%, black 100%);
    //clip-path: circle(.3em at .5em 50%);
}
//a.discourse-tag:after{
//    content: "";
//    position: absolute;
//    top: calc(50%);
//    left: .25em;
//    float: left;
//    width: .3em;
//    height: .3em;
//    -moz-border-radius: .5em;
//    -webkit-border-radius: .5em;
//    border-radius: .5em;
//    border-color:$primary-low;
//    border-width:1px;
//    border-style:solid;
//    background: $secondary;
//
//}



//inner-category-box : style='background-color:#{{c.color}}10'
